* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 300px;
}

.article article img {
    /*height: 180px; */
    width: 100%;
}

.article article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.article article {
    margin-bottom: 16px;
}

article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    margin-top: 8px;
}

.article article a:hover {
    text-decoration: underline;
}

.article article p, a {
    font-family: Arial, Helvetica, sans-serif;
}

.article article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy a {
    background-color: #ff9f1a;
}

#tecnology {
    background-color: rgba(0, 0, 255, 0.2);
}

#tecnology a {
    background-color: blue;
}

#entertainment {
    background-color: rgb(245, 167, 255);
}

#entertainment a {
    background-color: purple;
}